fire
Faker
numpy
# doesn't support Python 3.10 yet
pandas
instaloader
instapy
pymongo
mongoengine
# naskpy
flask==3.1.0
youtube-transcript-api==0.6.3
flask_cors==3.0.10
beautifulsoup4==4.12.3
python-dotenv==1.0.1
redis==5.2.1
langchain==0.3.17
langchain_community==0.3.16
langchain-openai==0.3.3
langgraph==0.2.69
ccxt==4.4.52
psycopg2==2.9.10
psycopg2-binary==2.9.10
requests
pydub
google
google-api-python-client
Pillow
google-auth==2.14.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
pyopenssl
httplib2
apiclient
oauth2client